<header class="navbar-header">
  <h1 class="logo-styles">ExpenseMate.</h1>
  <div class="flex flex-col md:flex-row justify-center items-center md:gap-4">
    <p class="text-xs xs:text-base tracking-widest">Welcome User!</p>
    <figure class="group relative hover:cursor-pointer">
      <img
        src="assets/avatars/avatar-beard.png"
        alt="avatar-img"
        class="h-8 hover:scale-110 duration-500"
      />
      <span class="header-hover-text"> login </span>
    </figure>
  </div>
</header>
