<div class="px-4">
  <h2 class="subtitle-styles my-4 md:w-max md:mx-auto">Recent Transactions</h2>
  @for ( transaction of transactions; track transaction.id) {
  <article class="flex justify-between items-center text-slate-800">
    <div class="flex">
      <i
        [ngClass]="transaction.icon"
        class="bg-emerald-700 text-white h-max p-2 rounded-full text-sm mr-2"
      ></i>
      <div>
        <h3 class="tracking-widest">{{ transaction.title }}</h3>
        <p class="text-xs text-slate-700">{{ transaction.notes }}</p>
      </div>
    </div>
    <div class="text-center">
      <p
        [ngClass]="{
          'text-red-700': transaction.type === 'expense',
          'text-green-700': transaction.type === 'income'
        }"
      >
        ${{ transaction.amount }}
      </p>
      <p class="text-xs">{{ transaction.date }}</p>
    </div>
  </article>
  }
  <div class="text-end">
    <button class="mt-4 bg-emerald-700 text-white px-3 rounded-md">
      See All
    </button>
  </div>
</div>
