<div class="text-green-950 w-90vw mx-auto md:w-full">
  <h2 class="font-bold mt-4 mb-2 text-2xl">Recent Transactions</h2>
  @for ( transaction of transactions; track transaction.id) {
  <article
    class="flex justify-between items-center mb-4 pb-2 border-b border-green-950 border-opacity-10"
  >
    <div class="flex items-center">
      <i
        [ngClass]="transaction.icon"
        class="bg-emerald-700 text-white h-max p-1 rounded-full text-xs mr-2"
      ></i>
      <div>
        <h3 class="">{{ transaction.title }}</h3>
        <p class="font-light text-xs">{{ transaction.notes }}</p>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center text-center">
      <p
        [ngClass]="{
          'text-red-700': transaction.type === 'expense',
          'text-green-700': transaction.type === 'income'
        }"
      >
        ${{ transaction.amount }}
      </p>
      <p class="font-light text-xs">{{ transaction.date }}</p>
    </div>
  </article>
  }
  <div class="">
    <button class="">See All</button>
  </div>
</div>
