.pointer {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .pointer:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent #047857 transparent transparent;
    top: -10px;
    left: 75%;
    margin-left: -21.5px;
  }
  