<div class="tabs-container mb-16 lg:mb-0">
  <!-- Tabs Header -->
  <div class="tabs-header">
    @for (day of currentWeekDays; track $index) {
    <button
      (click)="setActiveTab($index)"
      [class.active]="activeTabIndex === currentWeekDays.indexOf(day)"
      class="tab-button"
    >
      {{ day | date : "EEE, MMM d" }}
    </button>
    }
  </div>

  <!-- Tab Content -->
  <div class="tabs-content">
    @if (hasTransactionsForActiveTab()) {
    <div class="transaction-list">
      @for (transaction of getTransactionsForActiveTab(); track transaction.id)
      {
      <p>{{ transaction.title }} - {{ transaction.amount | currency }}</p>
      }
    </div>
    } @else {
    <p>No transactions</p>
    }
  </div>
</div>
