<aside class="sidebar-wrapper md:h-full">
  <div class="mb-8 flex-col-center">
    <button class="mb-8">
      <i
        class="fa-solid fa-plus bg-orange-700 text-white text-5xl rounded-full px-3 py-2 font-bold"
      ></i>
    </button>
    <h1 class="logo-styles mb-4">ExpenseMate.</h1>
    <p>Hello User!</p>
    <img src="assets/avatars/avatar-beard.png" alt="avatar-img" class="h-16" />
    <button>login</button>
  </div>
  <ul class="sidebar-list">
    <li class="jello-vertical hover:cursor-pointer">
      <a
        [routerLink]="['/transactions']"
        routerLinkActive="active"
        class="flex items-center"
      >
        <i class="fa-solid fa-receipt text-xl px-2"></i>Transactions
      </a>
    </li>
    <li class="jello-vertical hover:cursor-pointer">
      <a
        [routerLink]="['/calendar']"
        routerLinkActive="active"
        class="flex items-center"
      >
        <i class="fa-solid fa-calendar-days text-xl px-2"></i>Calendar
      </a>
    </li>
    <li class="jello-vertical hover:cursor-pointer">
      <a
        [routerLink]="['/dashboard']"
        routerLinkActive="active"
        class="flex items-center"
      >
        <i class="fa-solid fa-magnifying-glass-chart text-xl px-2"></i>Dashboard
      </a>
    </li>
    <li class="jello-vertical hover:cursor-pointer">
      <a
        [routerLink]="['/budgets']"
        routerLinkActive="active"
        class="flex items-center"
      >
        <i class="fa-solid fa-piggy-bank text-xl px-2"></i>Budgets
      </a>
    </li>
    <li class="jello-vertical hover:cursor-pointer">
      <a
        [routerLink]="['/challenges']"
        routerLinkActive="active"
        class="flex items-center"
      >
        <i class="fa-solid fa-user-ninja text-xl px-2"></i>Challenges
      </a>
    </li>
  </ul>
</aside>
