<aside class="sidebar-wrapper">
  <ul class="sidebar-list">
    <li class="jello-vertical hover:cursor-pointer">
      <i class="fa-solid fa-receipt text-xl pr-2"></i>Transactions
    </li>
    <li class="jello-vertical hover:cursor-pointer">
      <i class="fa-solid fa-calendar-days text-xl pr-2"></i>Calendar
    </li>
    <li class="jello-vertical hover:cursor-pointer">
      <i class="fa-solid fa-magnifying-glass-chart text-xl pr-2"></i>Dashboard
    </li>
    <li class="jello-vertical hover:cursor-pointer">
      <i class="fa-solid fa-piggy-bank text-xl pr-2"></i>Budgets
    </li>
    <li class="jello-vertical hover:cursor-pointer">
      <i class="fa-solid fa-user-ninja text-xl pr-2"></i>Challenges
    </li>
  </ul>
</aside>
