<div class="">
  <h4 class="">Recent Budgets</h4>
  @for ( budget of budgets; track budget.id) {
  <div class="">
    <h3 class="">{{ budget.category }}</h3>
    <p class="">{{ budget.period }}</p>
  </div>
  <div class="">
    <p class="">Spent: ${{ budget.currentSpending }}</p>
    <p class="">Limit: ${{ budget.limit }}</p>
  </div>

  <div class="">
    <div
      class=""
      [style.width.%]="
        calculatePercentage(budget.currentSpending, budget.limit)
      "
    ></div>
  </div>
  }
  <div class="">
    <button class="">See All</button>
  </div>
</div>
