<ul class="bottom-navbar">
  <li class="relative group bottom-nav-item duration-600">
    <span class="bottom-hover-text pointer">Budgets</span>
    <i class="fa-solid fa-piggy-bank text-2xl jello-vertical"></i>
  </li>
  <li class="relative group bottom-nav-item duration-600">
    <span class="bottom-hover-text pointer">Challenges</span>
    <i class="fa-solid fa-user-ninja text-2xl jello-vertical"></i>
  </li>
  <li class="relative group bottom-nav-item duration-600">
    <span class="bottom-hover-text pointer">Summary</span>
    <i class="fa-solid fa-magnifying-glass-chart text-2xl jello-vertical"></i>
  </li>
  <li class="relative group bottom-nav-item duration-600">
    <span class="bottom-hover-text pointer">Calendar</span>
    <i class="fa-solid fa-calendar-days text-2xl jello-vertical"></i>
  </li>
  <li class="relative group bottom-nav-item duration-600">
    <span class="bottom-hover-text pointer">Transactions</span>
    <i class="fa-solid fa-receipt text-2xl jello-vertical"></i>
  </li>
</ul>
