<div class="w-90vw px-2">
  <app-date-selector></app-date-selector>
  <app-dashboard-chart></app-dashboard-chart>
  <div class="subtitle-styles w-max">
    <h3>Balance</h3>
    <p>{{ incomeExpenseService.currentIncome() | currency }}</p>
  </div>
  <div class="subtitle-styles w-max">
    <h2>Expenses</h2>
    <p>{{ incomeExpenseService.currentExpenses() | currency }}</p>
  </div>
  <div class="subtitle-styles w-max">
    <h2>Earnings</h2>
    <p>{{ incomeExpenseService.currentBalance() | currency }}</p>
  </div>
  <app-dashboard-transactions></app-dashboard-transactions>
  <app-dashboard-budgets></app-dashboard-budgets>
  <app-dashboard-reminders></app-dashboard-reminders>
  <section>
    <app-dashboard-calendar></app-dashboard-calendar>
  </section>
</div>
