<div>
  <app-date-selector></app-date-selector>
  <section class="flex flex-wrap justify-center items-center gap-2 my-4">
    <h2>Income</h2>
    <p>{{ incomeExpenseService.currentIncome() | currency }}</p>

    <h2>Expenses</h2>
    <p>{{ incomeExpenseService.currentExpenses() | currency }}</p>

    <h2>Balance</h2>
    <p>{{ incomeExpenseService.currentBalance() | currency }}</p>
  </section>
  <section>
    <app-dashboard-chart></app-dashboard-chart>
  </section>
  <section>
    <app-dashboard-transactions></app-dashboard-transactions>
  </section>
  <section>
    <app-dashboard-budgets></app-dashboard-budgets>
  </section>
  <section>
    <app-dashboard-reminders></app-dashboard-reminders>
  </section>
  <section>
    <app-dashboard-calendar></app-dashboard-calendar>
  </section>
</div>
